body {

    z-index: -2;
}

* {
  box-sizing: border-box;
}

.logo {

    font-family: 'Marck Script';
    font-size: 100px;
    position: absolute;
    color: white;
    z-index: 3;
    padding: 0;
    margin: 0;
    left: 20px;
    letter-spacing: 5px;
    
}

.bg-video-base {
    position: fixed;
    left: 0;
    top: 0;
    right: 300px;
    width: 100%;
    bottom: 2;
    
}

.buttons {
    display: block;
    color: white;
    
    position: absolute;
    z-index: 3;
    top: 200px;
}

button {
    font-size: 46px;
    font-family: Anton;
    text-transform: uppercase;
    background: none;
    color: white;
    width: 500px;
    opacity: 0.8;
    background-color: black;
    margin-top: 40px;
    letter-spacing: 10px;
    border-radius: 10px;
}


button:hover {
    cursor: pointer;
    background-color:rgb(212, 167, 255);
    transition: 200ms;
}
.img-standard {
    z-index: 3;
    position: absolute;
    width: 400px;
    heighT: 400px;
    border-radius: 50%;
    left: 650px;
    top: 200px;
}

.buttoncontent {
    display: none;
    z-index: 8;
    width: 1000px;
    
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  

  .moon-footer {
    z-index: 6;
    
    
    width: 1690px;
    height: 210px;
    
    position: absolute;
    left: 0;
    
    top: 745px;
    bottom: 0;
    right: 0;
   padding: 0;
   margin: 0;

  }


  .astro {
    z-index: 4;
   
    width: 550px;
    height: 650px;

  }

  .astro-placed {
    display: block;
    position: absolute;
    z-index: 4;
    left: 1100px;
    top: 130px;
    animation: floatHover 5s infinite;
    animation-play-state: running;
  }

  @keyframes floatHover  {
    0% {
        top: 130px;
    }
    50% {
        top: 180px;
    }
    100% {
        top: 130px;
    }
  }

  .copyright-section {
    text-align: center;
    font-family: 'Chakra Petch';
    font-size: 30px;
    z-index: 8;
    position: relative;
    color: white;
    letter-spacing: 20px;
    top: 800px;
  }

  .below-logo {
    text-align: center;
    color: white;
    z-index: 4;
    position: absolute;
    left: 580px;
    top: 80px;
    font-family: Verdana;
    font-size: 30px;
   
    letter-spacing: 2px;
  }

  .hrhr {
    color: white;
    width: 1300px;
    left: 180px;
    top: 150px;
    z-index: 4;
    position: absolute;
  }

.back-button-contain {
  display: block;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
}

#back-button {
width: 200px;
font-size: 30px;
height: 100px;
}

#back-button:hover {
  width: 400px;
}


  /* Code unique to websites.html ------------------------------------------------------------------------------------------------------------------------ */

  .darkened {
    background-color: black;
    width: 100%;
    height: 951px;
    opacity: 0.7;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    bottom: 0;
  }

  /* Section for websites.html */

  section {
   
    color: white;
    z-index: 4;
    position: relative;
    font-size: 50px;
    left: 700px;
    width: 900px;
    min-height: 100vh;
    padding: 0;
    margin: 0;
  }

  .details-section1 {

    color: white;
    z-index: 4;
    position: absolute;
    font-size: 30px;
   text-align: center; 
   right: 350px;
   width: 800px;
   font-family: 'Chakra Petch';
  }

  .hidden {
opacity: 0;

transition: all 1s;
filter: blur(5px);
transform: translateX(-100%);
  }

  .show {
opacity: 1;
filter: blur(0);
transform: translateX(0);
  }

 
.img-1 {
  width: 200px;
  height: 120px;
  position: absolute;
right: 1300px;
border: 5px solid rgb(61, 61, 61);
}

.img-1:hover {
  border: 5px solid rgb(237, 237, 237);
  transition: 500ms;
}

.img-2:hover {
  border: 5px solid rgb(237, 237, 237);
  transition: 500ms;
}

.img-2 {
  width: 200px;
  height: 120px;
  position: absolute;
right: 1050px;
border: 5px solid rgb(61, 61, 61);
}



.selectables:nth-child(2) {
  transition-delay: 100ms;
  
}

.selectables:nth-child(3) {
  transition-delay: 300ms;
}

.empty-box {
  background-color: rgb(41, 41, 41);
  width: 200px;
  height: 120px;
  position: absolute;
  right: 800px;

}

.selectables:nth-child(4) {
  transition-delay: 500ms;
}

.selectables:nth-child(5) {
  transition-delay: 550ms;
}

.selectables:nth-child(7) {
  transition-delay: 750ms;
}


.textinbox {
  color: white;
  text-align: center;
  font-size: 30px;
  position: relative;
  top: 10px;
}

.empty-box2 {
  background-color: rgb(41, 41, 41);
  width: 200px;
  height: 120px;
  position: absolute;
  top: 100px;
  right: 1305px;
  
}

.empty-box3 {
  background-color: rgb(41, 41, 41);
  width: 200px;
  height: 120px;
  position: absolute;
  top: 43px;
  right: 1055px;
}

.heading2 {
position: relative;
right: 290px;
  font-family: 'Chakra Petch';
 font-size: 50px;
 font-size: 70px;
}

/* Hovering over the small images to make big ones appear*/

.big-image1 {
width: 700px;
height: 450px;
position: absolute;
left: 150px;
bottom: 230px;
}



.buttoncontent2 {
  display: none;
  z-index: 8;
  width: 1000px;
  
}

.hoshiro-TEXT {
  position: absolute;
  z-index: 5;
  top: 550px;
  left: 150px;
  font-family: 'Tilt Neon';
}

.wbhc-TEXT {
  position: absolute;
  z-index: 5;
  top: 590px;
  left: 150px;
  font-family: 'Chakra Petch';
  font-weight: bold;
  font-style: italic;
  font-size: 45px;
}

.heading3 {
  position: relative;
    font-family: 'Chakra Petch';
   font-size: 50px;
   font-size: 70px;
  }

  .copyright-section2 {
    text-align: center;
    font-family: 'Chakra Petch';
    font-size: 30px;
    z-index: 8;
    position: relative;
    color: white;
    letter-spacing: 20px;
   
  }

.mobile-intro {
  display: none;
}

.mobile-site1 {

  color: white;
  z-index: 10;
  position: absolute;



}

.heading5 {
  display: none;
}

.heading6 {
  display: none;
}